@use "./themes.scss";

$layout-aspect-ratio-small: calc(8 / 9);

/* body style */
body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: stretch;
  flex-direction: column;
  overflow: auto;
  font-size: 20px;

  background-color: var(--theme-blue);
  color: var(--off-theme);

  @media (max-aspect-ratio: $layout-aspect-ratio-small) {
    font-size: 18px;
  }
}

main > article {
  margin: 0 20% 0;
}

main {
  flex: 1 1 auto;
  position: relative;
}

footer {
  flex: 0 0 0;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--off-theme-blue);
  color: var(--theme);
  padding: 0.5em;
  text-align: center;
  z-index: 999;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: var(--theme-blue);
  padding: 10px;
}

header img {
  width: 10em;
}

button {
  font-size: 1em;
  cursor: pointer;
}
